/*
 * Main sections of the page
 */
#wrapper {
	display: block;
	float: left;
	padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#main {
	display: inline;
	float: left;
	margin-right: 40px;
	padding-top: 40px;
	position: absolute;
}

/*
* override navbar
*/
.navbar-custom {
	margin-right: 40px;
	background-color: #E0E0E0;
}

/*
 * Images in title menu
 */
img.title-image {
	display: block;
	float: left;	
	height: 100px;
	width: 120px;
	padding-left: 3px;
}

/*
 * Picture image
 */
img.thumbnail_landscape {
	width: 270px;
	height: 180px;
	margin-top: 10px;
	margin-right: 20px;
	border-style: none;
}

img.thumbnail_portrait {
	width: 180px;
	height: 270px;
	margin-top: 10px;
	margin-right: 20px;
	border-style: none;
	padding-left: 40px;
}

/*
 * Sidebar
 */
 #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    margin-left: -250px;
    padding-left: 40px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

 ul#menu {
    top: 0;
    width: 250px;
    margin: 0;
	padding: 0;
    list-style: none;
}

ul#menu li {
	font-family: Helvetica, sans-serif;
	font-size: large;
	font-weight: bold;
	margin-bottom: 5px;
	list-style: none;
	border-bottom: solid;
	border-bottom-color: #656565;
	border-left: groove;	
	border-left-color: #656565;
}

ul#menu li a,
ul#menu li a:link,
ul#menu li a:visited {
	display: block;
	color: #202020;
	text-decoration: none;
	padding-top: 10px;
	padding-left: 20px;
}

ul#menu li a:focus,
ul#menu li a:hover {
	font-weight: bold;
	background-color: #CCCCCC;	
}


/*
 * Main body
 */

#main-body {	
	color: #707070;
	font-family: Helvetica, sans-serif;
	margin-left: 40px;
	height: 100%;
}


p:first-letter {
	margin-left: 10px;
}

.greetings {
	color: #606060;
	font-family: Tahoma;
	font-size: large;
	font-weight: bold;
}

.page_title {
	color: #606060;
	font-family: Geneva;
	font-size: 30px;
	font-weight: bold;
}

#main a, 
#main a:link, 
#main a:visited {
	color: #202020;
	font-family: Helvetica, sans-serif; 
}

#main a:focus,
#main a:hover {
	background-color: #DDDDDD;
}

#main li {
	margin-bottom: 10px;	
}

.emphasize {
	color: #404040;	
	font-style: italic;
}

.videos {
	display: block;
	float: left;
	padding: 10px 10px 10px 10px;
}

object.video {
	display: block;
	width: 500px;
	height:350px;
	margin: 30px;
}

@media(max-width:768px) {

    #main {
    	display: block;
    	position: absolute;
    	float: left;
    }

    #sidebar-wrapper {
    	padding-left: 10px;
    	display: block;
    	position: relative;
    }

	#wrapper {
	    padding-left: 0px;
	}

    object.video {
		display: block;
		width: 200px;
		height:160px;
		margin-left: -10px;
	}
}